{% extends 'base.html' %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/newpill.js') }}"></script>
{% endblock %}

{% block content %}
<h3> YOUR PILLBOX ! </h3>
  <h4> ★ next dosage: </h4>


<div class="grid-container">
{% for box in pillbox %}
  <div class="grid-item">
    <p> {{ box.name }} </p>
    <hr>
  </div>
{% endfor %}
{% for box in pillbox %}
  <div class="grid-item draggable">
    {% for pill in box['pills'] %}
      <div class="row">
        <div class="column">
        <p class="timelabel">
          {{ pill.time }}
          <img src ="{{ url_for('static', filename=pill.icon) }}" class="image movable">
        </p>
        </div>
      </div>
    {% endfor %}
    <p> </p>
  </div>

{% endfor %}
</div>
<script src="{{ url_for('static', filename='javascript/dragula.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/draganddrop.js') }}"></script>

<div class = "newpill" style="float: right;">
  <div id="newpill_popup">
    <img src="{{ url_for('static', filename='images/newpill.png') }}" style ="align: right">
    New Pill
  </div>

  <div id="newpill_form">
    <h1>New Pill</h1>
    <form action="{{ url_for('api.create_pill') }}" method="post">
      <h6> Pill name: </h6>
      <input placeholder="Name" type="text" name="name" required />
      
      <h6> Pill shape: </h6>
      <div class = "select-style">
        <input type = "text" list = "icon-types" name="icon"> 
          <datalist id = "icon-types">
            {% for file in files %}
              <option value="img/{{ file }}"></option>
            {% endfor %}
          </datalist>
      </div>

      <h6> Pill description: </h6>
      <input placeholder="Description" type="text" name="description" />
      
      <input class="formBtn" type="submit" />
      <input class="formBtn" type="reset" />
    </form>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/newpill.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/selectonebox.js') }}"></script>

<div class="pill-container">
  {% for pill in pill_collection %}
    <div class ="grid-content">
      <h6 align='center'>
        <img class = "pill_form_image" id="pillform-{{ pill.name }}-image" src ="{{ url_for('static', filename=pill.icon) }}" style ="align: left">
        <br>
        {{ pill.name }}
    </h6>
    </div>

    <div class = "pill_form" id="pillform-{{ pill.name }}">
        <!-- <a class="close" href="/pill.ht-ml">×</a> -->
  
        <h1 id='pill-{{ pill.name }}'>{{ pill.name }}</h1>
  
        <form action="#">
  
          <h6> Pill compartment: </h6>
          <div class="check-selector">
            <input type="checkbox" class ="check" id="one"/>
            <label for="one">1</label>
            <input type="checkbox" class ="check" id="two"/>
            <label for="two">2</label>
            <input type="checkbox" class ="check" id="three"/>
            <label for="three">3</label>
            <input type="checkbox" class ="check" id="four"/>
            <label for="four">4</label>
            <input type="checkbox" class ="check" id="five"/>
            <label for="five">5</label>
          </div>
          <h6> Dosage Days: </h6>
          <div class="check-selector">
            <input type="checkbox" id="weekday-mon" class="weekday" />
            <label for="weekday-mon">M</label>
            <input type="checkbox" id="weekday-tue" class="weekday" />
            <label for="weekday-tue">T</label>
            <input type="checkbox" id="weekday-wed" class="weekday" />
            <label for="weekday-wed">W</label>
            <input type="checkbox" id="weekday-thu" class="weekday" />
            <label for="weekday-thu">Th</label>
            <input type="checkbox" id="weekday-fri" class="weekday" />
            <label for="weekday-fri">F</label>
            <input type="checkbox" id="weekday-sat" class="weekday" />
            <label for="weekday-sat">S</label>
            <input type="checkbox" id="weekday-sun" class="weekday" />
            <label for="weekday-sun">Su</label>
          </div>
          <h6> Time of dosage: </h6>
          <div class ="time">
            <input placeholder="Hour" id="hour" type="text" required />
            <input placeholder="Minute"  id="minute" type = "text" required />
            <div class = "select-style" id="time">
              <select name="AM/PM">
                <option value="AM">A.M.</option>
                <option value="PM">P.M.</option>
              </select required >
            </div>
          </div>
          <input placeholder="Additional Comments" type="text "/>
          <input class="formBtn" type="submit" /><input class="formBtn" type="reset" />
        </form>
      </div>
      <script>
        $(function() {

        // contact form animations
        $('#pillform-{{ pill.name }}-image').click(function() {
          $('#pillform-{{ pill.name }}').fadeToggle();
        })
        $(document).mouseup(function (e) {
          var container = $("#pillform-{{ pill.name }}");

          if (!container.is(e.target) // if the target of the click isn't the container...
              && container.has(e.target).length === 0) // ... nor a descendant of the container
          {
              container.fadeOut();
          }
        });

        });
      </script>
  {% endfor %}
</div>

{% endblock %}